<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>856527342163-os18m2o9dfg1m913albhgvlb4r9hj46t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCcXqufiD7AGUwca1bEWzNEdI-pkd4xvL0</string>
	<key>GCM_SENDER_ID</key>
	<string>856527342163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capsule.capsuleRelease</string>
	<key>PROJECT_ID</key>
	<string>capsule-release</string>
	<key>STORAGE_BUCKET</key>
	<string>capsule-release.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856527342163:ios:edb6991d5a42e8d36a94a6</string>
	<key>DATABASE_URL</key>
	<string>https://capsule-release-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>